
    <h1>タスク一覧</h1>
        <% @tasks.each do |task| %>
        <%= task.id %>|
        <%= task.task_contents %>|
        <%= task.created_date.to_s(:datetime_jp) %>|
        <%= task.updated_date.to_s(:datetime_jp) %>|
        <!-- 詳細ボタン-->
        <div style="display:inline-flex">
<%= form_with url: "/tasks/show", method: :GET, local: true do |form| %>
  <%= hidden_field_tag :select_id, task.id %>
  <%= form.submit '詳細' %>
<% end %>
            <!-- 削除ボタン-->
            <form method="POST" action= "" onsubmit="return delete_confirm()">
                <input type="hidden" name="delete_id" value=<%= task.id %>>
                <input type="submit" name="button1" value="削除" /><br>
            </form>
            <%= form_with url: "", method: :DELETE, local: true do |form| %>
            <%= hidden_field_tag :delete_id, task.id %>
            <%= form.submit '削除' %>
            <% end %>
        </div> <br>
<% end %>
    <!-- 新規登録画面遷移ボタン -->
        <%= form_with url: "/tasks/new", method: :GET, local: true do |form| %>
  <%= form.submit '新規タスクを登録する' %>
<% end %>
    </form>
