<script>
  // 削除ボタン押下時の確認ダイアログ表示用関数
  function delete_confirm() {
          let result = confirm('本当に削除してよろしいですか？');
          return result;
  }
</script>
<h1>タスク詳細</h1>
<%= @select_id %>|
<%= @tasks_select.task_contents %>|
<%= @tasks_select.created_date.to_s(:datetime_jp) %>|
<%= @tasks_select.updated_date.to_s(:datetime_jp) %>|
<div style="display:inline-flex">
  <!-- 削除ボタン-->
  <form method="POST" action=delete.php onsubmit="return delete_confirm()">
    <input type="hidden" name="delete_id" value=>
    <input type="submit" name="button1" value="削除" /><br>
  </form>
</div>
<!-- 編集画面遷移ボタン-->
<%= button_to '編集画面へ', edit_task_path, {method: :get,params: {update_id:@select_id}}%>
<!-- 一覧表示画面遷移ボタン -->
<%= button_to '一覧表示画面へ戻る', root_path, method: :get %>
</p>
